<ion-header>
  <ion-navbar>
    <ion-title>
      การนัดหมาย
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only solid (click)="goToPage13()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding style="background:url(assets/img/Background.jpg) no-repeat center;background-size:cover;background-color:#FFFFFF;" id="page3">
  <br>
  
  <ion-searchbar placeholder="ค้นหานัดหมาย" (ionInput)="getItems($event)"></ion-searchbar><br>


  
  <ion-list>
  <ion-item-sliding *ngFor="let sell of sell">
    <br>
    <ion-item *ngIf="sell.a15 =='มี'">
        ชื่อลูกค้า : {{sell.a1}}
        <br>
        <p>
         รุ่น : {{sell.a2}}
        </p>
        <p>
         ประเภท : {{sell.a3}}
        </p>
        <p>
         ชื่อลูกค้า : {{sell.a4}}
        </p>
        <p>
          วันที่นัดหมาย : {{sell.a16}}
        </p>
        <p>
          เวลานัดหมาย : {{sell.a17}}
        </p>
    </ion-item>
    <ion-item-options side="right">
      <button (click)="edit(sell)" ion-button color="primary">
        <ion-icon name="create"></ion-icon>
        แก้ไข
      </button>
    </ion-item-options>
    </ion-item-sliding>

</ion-list>
    

</ion-content>