<ion-header>
  <ion-navbar>
    <ion-title>
      ใบรับรองพระเครื่อง
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="background:url(assets/img/Background.jpg) no-repeat center;background-size:cover;background-color:#FFFFFF;" id="page6">

<ion-card *ngFor ="let give of give" (click)="goToPage19(give)">
    <img src="assets/img/Backimg.jpg" class="img">
    <div class="card-title">{{give.a2}}</div> 
</ion-card>

<ion-card *ngFor ="let sell of sell" (click)="goToPage19a(sell)">
    <img src="assets/img/Backimg.jpg" class="img">
    <div class="card-title">{{sell.a1}}</div>  
</ion-card>

</ion-content>