<ion-header>
  <ion-navbar>
    <ion-title>
      ใบรับรองพระเครื่อง
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="background:url(assets/img/Background.jpg) no-repeat center;background-size:cover;background-color:#FFFFFF;" id="page6">

<div *ngFor ="let give of give" (click)="goToPage19(give)">
  <ion-card *ngIf="give.cerImg[0] != null">
    <img src= {{give.cerImg[0]}}>
    <div class="card-title">{{give.a2}}</div>
  </ion-card>
</div>


<div *ngFor ="let sell of sell" (click)="goToPage19a(sell)">
<ion-card *ngIf="sell.cerImg[0] != null">
    <img src= {{sell.cerImg[0]}} class="img">
    <div class="card-title">{{sell.a1}}</div>  
</ion-card>
</div>
</ion-content>